@charset "UTF-8";
/* Définition des variables de couleurs principales */
/* MIXINS FLEXBOX */
/* Variables par défaults utilisées par les mixins FLEXBOX */
/* Variables spécifiques utilisées par les mixins FLEXBOX */
/* MIXINS TITLES */
/* Variables par défaults utilisées par les mixins TITLES */
/* Variables spécifiques utilisées par les mixins TITLES */
/* MIXINS FLEXBOX */
/* Définition du mixin flexbox */
/* MIXINS TITLES */
/* Définition du mixin titles */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "roboto";
}

/* On applique la police aux logos, qui pour l'instant sont des images */
#logo_section--img, #footerLogo {
  font-family: "shrikhand";
}

/* Intégration des POLICES au CSS*/
/* Police Logos et Titres*/
@font-face {
  font-family: "shrikhand";
  src: url(../../fonts/Shrikhand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
/* Polices Texte */
@font-face {
  font-family: "roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.all_btn {
  font-size: 0.9em;
  color: #ffffff;
  background: #FF79DA;
  border: none;
  padding: 1.1em;
  border-radius: 30px;
  box-shadow: 1px 5px 9px 0px rgba(140, 140, 140, 0.5), inset -35px -22px 50px 4px rgba(147, 86, 220, 0.7);
}

.headerBottom-card_btn {
  width: 240px;
}

.btn_order {
  width: 200px;
}

h1 {
  width: 340px;
  margin: 0;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: "shrikhand";
  padding: 5px 30px;
}

h2 {
  width: 340px;
  margin: 0;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 35px 20px 5px;
}

h3 {
  width: 340px;
  margin: 0;
  font-weight: 100;
  font-size: 1.1em;
  color: #4F4F4F;
  padding: 5px 5px 25px;
}

/* Titres entrées, plats desserts*/
h4 {
  font-weight: 100;
  font-size: 0.9em;
  color: #4F4F4F;
}

#logo_container {
  text-align: center;
  display: flex;
  margin: 1.5em auto 0.5em;
}
#logo_container #logo_container--icon-arrowBack {
  color: #4F4F4F;
  font-size: 1.2em;
  width: 15%;
  position: absolute;
}
#logo_container #logo_container--img {
  width: 40%;
  position: relative;
  margin: 0 auto;
}

footer {
  background: #4F4F4F;
  padding: 5% 0 10% 5%;
}
footer #footer_logo {
  width: 100%;
}
footer #footer_logo #footer-logo_title {
  margin-bottom: 0.5em;
  padding: 0;
  color: #ffffff;
  font-family: shrikhand;
  font-weight: lighter;
  font-size: 1.2em;
}
footer .footer_nav_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 0;
}
footer .footer_nav_link i {
  font-size: 0.7em;
  color: #ffffff;
  margin-right: 1em;
  width: 0.8em;
}
footer .footer_nav_link p {
  color: #ffffff;
}

.card-title_bloc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: #F7F7F7;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin: -50px auto 0;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}
.card-title_bloc h1 {
  width: 250px;
  margin: 30px 0 10px;
  padding: 0;
}
.card-title_bloc i {
  width: 50px;
  font-size: 1.5em;
  margin: 30px 0 10px;
}

#localisation_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #eaeaea;
  box-shadow: inset 0px 3px 6px -5px dimgray;
  font-weight: bold;
  padding: 0.2em 1.8em 0.2em 0;
  color: #4F4F4F;
}
#localisation_container i {
  padding-right: 1.3em;
}

#fonctionnement {
  background: #ffffff;
}
#fonctionnement #fonctionnementContainer {
  padding: 0 0 30px 10px;
}
#fonctionnement article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: #F7F7F7;
  width: 340px;
  height: 70px;
  margin: 1.2em auto;
}
#fonctionnement article .articleStep {
  font-size: 0.7em;
  text-align: center;
  line-height: 2.4;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: -1.2em;
}
#fonctionnement article .articleIcon {
  font-size: 1em;
  color: #4F4F4F;
  margin-left: 22px;
}
#fonctionnement article .articleText {
  font-size: 1em;
  margin: 0 22px;
}

#headerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F7F7F7;
  text-align: center;
  padding: 40px;
}

main {
  background: #F7F7F7;
}

article {
  border-radius: 20px;
  box-shadow: 1px 5px 9px 0px rgba(140, 140, 140, 0.5);
}

#restaurants-cards_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-prev_container {
  width: 90%;
  margin: 1em auto;
}
.card-prev_container__link {
  text-decoration: none;
}
.card-prev_container-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  position: relative;
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.card-prev_container-img img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.card-prev_container-img__patchNew {
  background: #99E2D0;
  color: #278870;
  font-size: 0.7em;
  font-weight: bolder;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0.6em 1em;
}
.card-prev_container-presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 80px;
  padding: 0 20px 0 15px;
  color: #000000;
}
.card-prev_container-presentation__title {
  font-size: 1.1em;
  font-weight: bolder;
  margin: 0;
}
.card-prev_container-presentation__city {
  font-size: 1.1em;
  margin: 0;
}
.card-prev_container-presentation__iconLike i {
  font-size: 1.5em;
}

.image_presentation img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menus_section {
  padding: 10px;
}

.plate-elements_bloc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background: white;
  margin: 15px 0;
  padding-left: 5px;
  line-height: 0.5;
  height: 70px;
}
.plate-elements_bloc:hover .plate_selected i {
  display: flex;
}
.plate-elements_bloc .plate_name {
  font-size: 1em;
  font-weight: bold;
}
.plate-elements_bloc .plate_legende {
  font-size: 0.9em;
}
.plate-elements_bloc .plate_price {
  font-size: 0.9em;
  font-weight: bold;
}
.plate-elements_bloc .plate_selected {
  width: 50px;
  height: 70px;
  background: #99E2D0;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.plate-elements_bloc .plate_selected i {
  /*display: none;*/
  color: #ffffff;
  font-size: 1.2em;
}

/*# sourceMappingURL=style.css.map */
