/* Bouton like INDEX.HTML */
.card-prev-presentation__iconLike{
    position: absolute;
    right: 10%;
    height: 25px;
    width: 52px;
    overflow: hidden;
    z-index: 901;
    font-size: 1.5em;
    margin: -55px 15px;
    
    & :nth-child(1) {
        position: absolute;
        z-index: 900;
        color: $color-black;
        transition-property: all;
        transition-duration: 1s;
        
    }
    & :last-child {
        position: absolute;
        background: linear-gradient($color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.8s; 
    }
        &:hover {
            & :nth-child(1) {
                background: linear-gradient($color-secondary, $color-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            :last-child {
                opacity: 1;
            }
        }
}






/* Bouton like CARTES RESTAURANTS */
.card-title-icon_button-like {
    & :nth-child(1) {
        
        position: absolute;
        z-index: 900;
        color: $color-black;
        transition-property: all;
        transition-duration: 1s;
        top: 35px;
        right: 45px;
    }
    & :last-child {
        position: absolute;
        background: linear-gradient($color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.8s; 
        top: 35px;
        right: 45px;   
    }
    &:hover {
        & :nth-child(1) {
            background: linear-gradient($color-secondary, $color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        :last-child {
            opacity: 1;
        }
    }
}