* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    font-family: 'roboto';
}

main {
    background: $color-paleGrey;
}

    /* On applique la police aux logos, qui pour l'instant sont des images */
    #logo_section--img, #footerLogo {
        font-family: 'shrikhand';
    }