@charset "UTF-8";
/* Définition des variables de couleurs principales */
/* MIXINS FLEXBOX */
/* Variables par défaults utilisées par les mixins flexbox */
/* Variables spécifiques utilisées par les mixinsflexbox */
/* MIXINS FLEXBOX */
/* Définition du mixin flexbox */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto";
}

/* On applique la police aux logos, qui pour l'instant sont des images */
#logo, #footerLogo {
  font-family: "shrikhand";
}

/* Intégration des POLICES au CSS*/
/* Police Logos et Titres*/
@font-face {
  font-family: "shrikhand";
  src: url(../../fonts/Shrikhand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
/* Polices Texte */
@font-face {
  font-family: "roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.headerBottom_btn {
  width: 240px;
  font-size: 0.9em;
  color: #ffffff;
  background: #FF79DA;
  border: none;
  padding: 1.1em;
  border-radius: 30px;
  box-shadow: 1px 5px 9px 0px rgba(140, 140, 140, 0.5), inset -35px -22px 50px 4px rgba(147, 86, 220, 0.7);
}

h1 {
  font-size: 1.5em;
  font-weight: bolder;
  width: 260px;
  margin: 0 0 0.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
  font-weight: 100;
  color: #4F4F4F;
  width: 320px;
  margin: 0 0 1.2em;
}

#logo {
  text-align: center;
}
#logo img {
  width: 40%;
  margin: 1.5em auto 0.5em;
}

#localisation_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #eaeaea;
  box-shadow: inset 0px 3px 6px -5px dimgray;
  color: #4F4F4F;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em 1.8em 0.2em 0;
}
#localisation_section i {
  color: #4F4F4F;
  padding-right: 1.3em;
}
#localisation_section p {
  color: #4F4F4F;
}

#headerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F7F7F7;
  text-align: center;
  padding: 8% 8% 15%;
}

main {
  background: #F7F7F7;
}

article {
  border-radius: 20px;
  box-shadow: 1px 5px 9px 0px rgba(140, 140, 140, 0.5);
}

#fonctionnement {
  padding: 3%;
  background: #ffffff;
}
#fonctionnement h2 {
  padding: 3%;
}
#fonctionnement article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: #F7F7F7;
  width: 300px;
  height: 70px;
  margin: 0.8em auto;
}
#fonctionnement article .articleStep {
  font-size: 0.7em;
  text-align: center;
  line-height: 2.4;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: -1.2em;
}
#fonctionnement article .articleIcon {
  font-size: 1em;
  color: #4F4F4F;
  margin-left: 22px;
}
#fonctionnement article .articleText {
  font-size: 1em;
  margin: 0 22px;
}

#restaurants {
  width: 100%;
}
#restaurants h2 {
  width: 90%;
  margin: 0 auto;
}

#restaurantsContainer {
  width: 100%;
}

.card-prev {
  width: 90%;
  margin: 1em auto;
}
.card-prev__link {
  text-decoration: none;
}
.card-prev-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.card-prev-img img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-prev-img__patchNew {
  background: #99E2D0;
  color: #278870;
  font-size: 0.7em;
  font-weight: bolder;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0.6em 1em;
  width: 50px;
}
.card-prev-presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 80px;
  padding: 0 20px 0 15px;
  color: #000000;
}
.card-prev-presentation__title {
  font-size: 1.1em;
  font-weight: bolder;
  margin: 0;
}
.card-prev-presentation__city {
  font-size: 1.1em;
  margin: 0;
}
.card-prev-presentation__iconLike {
  font-size: 1.5em;
}

#footerLogo img {
  width: 30%;
}/*# sourceMappingURL=main.css.map */