@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import "./components/titles";

@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";

@import "./pages/work";
@import "./pages/about";
@import "./pages/project";













#logo {
    text-align: center;
    
    img {
        width: 40%;
        margin: 1.5em auto 0.5em;
    }
}
        
#localisation_section{
    @include default_flexbox;


    background:  darken($color-paleGrey, 5%);
    box-shadow: inset 0px 3px 6px -5px lighten($color-darkGrey, 10%);
    color: $color-darkGrey;
    
    font-size: 1em;
    font-weight: bold;
    
    padding: 0.2em 1.8em 0.2em 0;
    
    i {
        color: $color-darkGrey;
        padding-right: 1.3em;
    }
    p {
        color: $color-darkGrey; 
    }
}


#headerBottom {
    @include default_flexbox($flex-direction: $headerBottom_flex-direction);

    background: $color-paleGrey;
    text-align: center;
    
    
    
    padding: 8% 8% 15%;
    
    
}



main {
    background: $color-paleGrey;
}

article {
    border-radius: 20px;
    box-shadow: 1px 5px 9px 0px rgba(140,140,140,0.5);
}

#fonctionnement {
    padding: 3%;
    background: $color-white;
    h2 {
        padding: 3%;
    }
    article {
        @include default_flexbox($justify-content: $fonctionnement-article_justify-content);


        background: $color-paleGrey;
        
        width:300px;
        height: 70px;
        margin: 0.8em auto;       

        .articleStep {
            font-size: .7em;
            text-align: center;
            line-height: 2.4;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 50%;

            width: 25px;
            height: 25px;
            margin-left: -1.2em;
        }
        .articleIcon {
            font-size: 1em;
            color: $color-darkGrey;

            margin-left: 22px;
        }
        .articleText {
            font-size: 1em;

            margin: 0 22px;
        }
    }
}


#restaurants {
    width: 100%;

    h2{ 
        width: 90%;
        margin: 0 auto;
    }
}
#restaurantsContainer {
    width: 100%;
}

.card-prev {
    width:90%;
    margin: 1em auto;
    
    &__link {
        text-decoration: none;
    }

        &-img {
            @include default_flexbox($align-items: $card-prev-img-box_align-items);

            position: relative; 
            height: 180px;
            overflow: hidden;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            align-items:flex-end;
            
            img{
                width:100%;
                height: 230px;
                object-fit: cover;
            }
            
            &__patchNew {
                background: $color-third;
                color: darken( $color-third, 40%);
                font-size: .7em;
                font-weight: bolder;
                text-align: center;
                border-radius: 3px; 
                position: absolute;
                top: 10px;
                right: 10px;
                margin: 0;
                padding: .6em 1em;
                width: 50px;
            }
        }

        &-presentation {
            @include default_flexbox($justify-content: $card-prev-presentation-box_justify-content);

            height: 80px;
            padding: 0 20px 0 15px;
            color: $color-black;
            &__title{
                font-size: 1.1em;
                font-weight: bolder;
                margin: 0;
            }
            &__city {
                font-size: 1.1em;
                margin: 0;
            }
            &__iconLike {
                font-size: 1.5em;
            }
    }
}







#footerLogo img{
    width:30%;
}