
 h1{
    @include titles-box;
    font-weight: bold;
    padding: 5px 30px;
}   
h2 {
    @include titles-box;
    padding: 35px 20px 5px;
}

h3{
    @include titles-box($font-size: $h3_font-size, $font-weight: $h3_font-weight);
    color: $color-darkGrey;
    padding: 5px 5px 25px;
}


h4 {
    font-weight: 100;
    font-size: .9em;
    color: $color-darkGrey;
    
}