h1{
    font-size: 1.5em;
    font-weight: bolder;
    
    width: 260px;
    margin: 0 0 .6em;
}

h2 {
    font-size: 1.5em;
}

h3{
    font-size: 1.1em;
    font-weight: 100;
    color: $color-darkGrey;

    width: 320px;
    margin: 0 0 1.2em;
}