.plate-elements_bloc{
    @include default_flexbox($justify-content: $fonctionnement-article_justify-content);

    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    max-width: 370px;
    
    background: white;
    margin: 15px auto;
    padding-left: 5px;
    line-height: 0.5;
    height: 70px;

    &:hover {
        .plate_selected {
            display: block;
            padding-top: 25px;
        }
    }
}