.plate-description_bloc {
    width: 70%;
}

    .plate_name {
        font-size: 1em;
        font-weight: bold;
        padding-left: .5em;
    }
    .plate_legende {
        font-size: 0.9em;
        padding-left: .5em;
    }
    .plate_price {
        width: 12%;
        font-size: 0.9em;
        font-weight: bold;
        padding-right: 1.5em;
        text-align: right;
    }