.plate_selected {
    display: none;

    width: 70px; 
    
    height: 70px;
    background: $color-third;
    text-align: center; 

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    i {     
        color: $color-white;
        font-size: 1.2em;
    }
} 

